@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base: #141414;
    --border: #000000;
    --surface0: #222222;
    --surface1: #2d2d2d;
    --overlay0: #636363;
    --text: #e0e0e0;
    --font-size: 16px;
    --line-height: 1.5;
    --aspect-ratio: 1.0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--base);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}



.toolbar {
    height: 25px;
    background-color: var(--surface0);
    color: var(--text);
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    border-bottom: 1px solid var(--border);
}



.menubar {
    height: 45px;
    background-color: var(--surface0);
    color: var(--text);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding: 0 20px;
    border-bottom: 1px solid var(--border);
}

.menubar-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 10px;
}

.menubar-icon:first-child {
    margin-left: 0;
}

.separator {
    width: 1px;
    height: 20px;
    background-color: var(--surface1);
    margin: 0 10px;
    margin-right: 0;
}




.sidebar {
    width: 300px;
    background-color: var(--surface0);
    color: var(--text);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 45px;
    bottom: 20px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}



.bottombar {
    height: 30px;
    background-color: var(--surface0);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    border-top: 1px solid var(--border);
}

.bottombar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottombar-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottombar-right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}



#zoom {
    display: flex;
    align-items: center;
    gap: 1px;
    position: relative;
}

.zoom-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 2px;
    background: var(--overlay0);
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s ease;
    border-radius: 2px;
}

.zoom-slider:hover {
    opacity: 1;
}

/* TODO: Test which Slider for Linux */
.zoom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 12px;
    background: var(--overlay0);
    cursor: default;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--border);*/
}

.zoom-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 12px;
    background: var(--overlay0);
    cursor: default;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--border);*/
}

#zoom-value {
    color: var(--text);
    font-size: 12px;
}

.zoom-text {
    background: none;
    margin-left: 5px;
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.zoom-button {
    background: none;
    padding: 5px;
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: background-color 0.3s, border-color 0.3s;
}

.zoom-button:hover {
    background-color: var(--overlay0);
}


.chevron {
    /*margin-inline-start: calc(-1* var(--size-4-5));*/
    position: absolute;
    width: 1.125rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.chevron:before {
    content: "\200B";
}

.chapter-title {
    align-items: baseline;
    display: flex;
    position: relative;
}

.chapter-title::before {
    content: "\200B";
}

svg.svg-icon {
    color: #ccc;
    stroke-width: 4px;
    width: 10px;
    height: 10px;
    transition: transform 100ms ease-in-out;
}



.notepad-outer-container {
    margin-top: 45px;
    margin-left: 330px;
    padding: 10px;
    height: calc(100vh - 100px);
    width: calc(100vw - 360px);
    overflow: auto;
    background-color: var(--base);
}

.notepad-container {
    width: 210mm;
    height: 297mm;
    background-color: var(--surface1);
    border: 1px solid #444444;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0 auto;
    transform-origin: top; /* TODO: Make Zoom work with transform-origin: center*/
}

.notepad-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    white-space: pre-wrap;
}

.notepad-textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    background-color: var(--surface1);
    color: var(--text);
    font-size: var(--font-size);
    overflow-y: auto;
}

.anchor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
}



/* TODO: Test which Scrollbar for Linux */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--overlay0) var(--surface0);
}

/* Scrollbar Chrome/Safari */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--surface0);
}

::-webkit-scrollbar-thumb {
    background-color: var(--overlay0);
    border-radius: 10px;
}

/* Scrollbar Firefox */
* {
    scrollbar-width: thin;
}

*::-moz-scrollbar {
    width: 8px;
}

*::-moz-scrollbar-track {
    background: var(--surface0);
}

*::-moz-scrollbar-thumb {
    background-color: var(--overlay0);
    border-radius: 10px;
}



#zoom {
    display: flex;
    align-items: center;
    gap: 1px;
    position: relative;
}

.zoom-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 2px;
    background: var(--overlay0);
    outline: none;
    opacity: 0.9; 
    transition: opacity 0.2s ease;
    border-radius: 2px;
}

.zoom-slider:hover {
    opacity: 1;
}

/* TODO: Test which Slider for Linux */
.zoom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 12px;
    background: var(--overlay0);
    cursor: default;
}

.zoom-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 12px;
    background: var(--overlay0);
    cursor: default;
}

#zoom-value {
    color: var(--text);
    font-size: 12px;
}

.zoom-text {
    background: none;
    user-select: none;
    margin-left: 5px;
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.zoom-button {
    background: none;
    padding: 5px;
    cursor: default;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: background-color 0.3s, border-color 0.3s;
}

.zoom-button:hover {
    background-color: var(--overlay0);
}



.font-size-changer {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.font-size-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.font-size-button:hover {
    background-color: var(--overlay0);
}

.font-size-input {
    width: 50px;
    text-align: center;
    border: var(--overlay0) solid 1px;
    border-radius: 5px;
    background-color: var(--surface1);
    height: 30px;
    margin: 0 5px;
    outline: none;
}

.font-size-changer input[type="number"]::-webkit-outer-spin-button,
.font-size-changer input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}